/* body{
    background-color: black;
} */
/* html bookmark */
/* html{
    croll-behavior:smooth;
}  */
/* Link colors */
/* a:hover{
    color:blueviolet;
    font-weight:bold;
    text-decoration: none;
}

a:visited{
    color:darkblue;
}
a:active{
    color:brown;
}
/* html table */
/* table{
    width:50%;
    margin:50px auto;
}
table,
th,
td{
    border:1px solid black;
    border-collapse:collapse;
}
/* uncontrol list */
/* ul{
    list-style-type:circle;
} */
/* class attribute */
/* .para{ */
    /* text-align:center;
    font-size: 37px;
} */ 
/* Media Query */
/* @media (max-width: 540px) {
    table{
        width:90%;
    }
}  */



/* .task::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at 20% 80%, rgba(255, 255, 255, 0.1) 0%, 
    transparent 50%), radial-gradient(circle at 80% 20%, rgba(255, 255, 255, 0.1) 0%, 
    transparent 50%);
} */

body{
    background:radial-gradient(circle at 20% 80%, rgba(255, 255, 255, 0.1) 0%, 
    transparent 50%), radial-gradient(circle at 80% 20%, rgba(255, 255, 255, 0.1) 0%, 
    transparent 50%);
}

/*  */

/* <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul> */