/* task {
    font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 5rem;
    font-weight: 500;
} */

/* .task::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle at 20% 80%, rgba(255, 255, 255, 0.1) 0%, 
    transparent 50%), radial-gradient(circle at 80% 20%, rgba(255, 255, 255, 0.1) 0%, 
    transparent 50%);
} */

/* body{
    background:radial-gradient(circle at 20% 80%, rgba(255, 255, 255, 0.1) 0%, 
    transparent 50%), radial-gradient(circle at 80% 20%, rgba(255, 255, 255, 0.1) 0%, 
    transparent 50%);
} */
html, body {
 margin: 60 px;
 padding: 0;
}
.header{
    background-color:bisque;
}
body{
    background-color:rgba(182, 122, 218, 0.928);
}
/*  */
html{
    scroll-indicator:smooth;
}
/* .container {
    max-width: 1500 px;
    margin: 0 auto;
    padding: 0 2rem;
} */

.skill-tag {
    padding: 0.75rem 1.5rem;
    background:white;
    border-radius: 40px;
    font-size: 0.9rem;
    font-weight: 600;
    border: 1px solid rgba(123, 10, 10, 0.827);
    backdrop-filter:blur(10px);
}

.skills {
gap:7 px;
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}
